<script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.13/web.js"></script>
<script src="/js/autocomplete.js"></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibmljaG9sYXNnaGFuc3lhbSIsImEiOiJjbDhkaHozb2QwY3c1M3VteXphb2c0dzBxIn0.GbFibJJRaO_9PnF-r_hmOg';

  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [-77.034084, 38.909671],
    zoom: 12,
    scrollZoom: false
});
</script>
<div>
    <h1><a href="/">Meet Halfway</a></h1>
</div>
<div class="container">
    <form action="/api/v1/halfway" method="POST">
        <div class="mb-3">
            <label for="addressA" class="form-label">Address 1</label>
            <input type="text" class="form-control" id="addressA" name="addressA" autocomplete="address-line1">
        </div>
        <div class="mb-3">
            <label for="addressB" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="addressB" name="addressB" autocomplete="address-line1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

    
    
